.dropout {
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-border-width: 4px;
    -fx-border-style: dashed;
}

.dropin {
    -fx-border-color: #008000;
    -fx-text-fill: #008000;
    -fx-border-width: 4px;
    -fx-border-style: dashed;
}